mixin horizontalList(list, multiselectFlag, hidElemName)
	//- Dummy always empty field to garantee at least one dome element for form validation check
	if !multiselectFlag
		input(type='hidden', name='#{hidElemName}_dummy', class='dummy')

	- var hasSelected = false;
	ul.horizontal-list
		each item in list
			- if (!item.selected) continue;
			- hasSelected = true;
			- var name = item.name || gettext('Нет перевода');
			- var className = item.name ? null : 'not-translated';
			li(data-id=item.id)
				a(href='#', class=className)=name
				span.remove-icon x
				input(type='hidden', name=hidElemName, value=item.id)

	- var display = (!hasSelected || multiselectFlag) ? 'block' : 'none'
	.alert.alert-warning.entity-panel(style='display: #{display}')
		.append-entity-block=gettext('Выберите из списка')
			select(data-live-search='true').form-control.selectpicker.all-list
				option
				each item in list
					- if (!item.name) continue;
					option(value=item.id)=item.name
		div.separator=gettext('или')
		.create-entity-block
			a(href='#').create-item-link=gettext('создайте новый')
