extends ./layout
include ../widgets/select-lang-widget.jade
include ./horizontal-list.jade

block content
	h1.page-header=gettext('Форма редактирования')
		.lang-container.pull-right
			+langWidget(lang)

	form(method='post', action='/#{currLang}/admin/quest').form-horizontal.form-quest
		input(type='hidden', name='id', value=id)

		h4.chapter-header=gettext('Основная информация')
		div.form-group
			label(for='txtName').col-sm-2.control-label=gettext('Наименование')
			div.col-sm-7
				input(type='text', id='txtName', name='name', value=name, placeholder=gettext('Наименование'), required).form-control
		div.form-group
			label(for='txtUrl').col-sm-2.control-label Url
			div.col-sm-7
				input(type='text', id='txtUrl', name='url', value=url, placeholder='Url').form-control
		div.form-group
			label(for='txtDescr').col-sm-2.control-label=gettext('Описание')
			div.col-sm-7
				textarea(type='text', id='txtDescr', name='descr', placeholder=gettext('Описание'), rows='10').form-control= descr
		div.form-group
			label(for='listCompany').col-sm-2.control-label=gettext('Компания')
			div.col-sm-7.company-container
				+horizontalList(dic.companies, false, 'companyID')

		hr

		h4.chapter-header=gettext('Дополнительные характеристики')
		div.form-group
			label.col-sm-2.control-label=gettext('Игроков')
			div.col-sm-3
				input(type='text', id='txtPlayerFrom', name='playerFrom', value=players_from, size=2, placeholder=gettext('от')).form-control
			div.col-sm-3
				input(type='text', id='txtPlayerTo', name='playerTo', value=players_to, size=2, placeholder=gettext('до')).form-control
		div.form-group
			label.col-sm-2.control-label=gettext('Стоимость посещения')
			div.col-sm-3
				input(type='text', id='txtPriceFrom', name='priceFrom', value=price_from, size=2, placeholder=gettext('от')).form-control
			div.col-sm-3
				input(type='text', id='txtPriceTo', name='priceTo', value=price_to, size=2, placeholder=gettext('до')).form-control
		div.form-group
			label(for='listTag').col-sm-2.control-label=gettext('Тэги')
			div.col-sm-7.tags-container
				+horizontalList(dic.tags, true, 'tagsID')
		div.form-group
			label(for='listLeague').col-sm-2.control-label=gettext('Лига')
			div.col-sm-7
				select(id='listLeague', name='leagueID', data-width='auto').form-control.selectpicker
					option
					each item in dic.leagues
						option(value=item.id, selected= item.id === league_id)= item.name
		div.form-group
			label(for='listComplexity').col-sm-2.control-label=gettext('Сложность')
			div.col-sm-7
				select(id='listComplexity', name='complexityID', data-width='auto').form-control.selectpicker
					option
					each item in dic.complexity
						option(value=item.id, selected= item.id === complexity_id)= item.name

		hr

		h4.chapter-header=gettext('Адресная информация')
		div.form-group
			label(for='listCountry').col-sm-2.control-label=gettext('Страна')
			div.col-sm-7.country-container
				+horizontalList(dic.countries, false, 'countryID')
		div.form-group
			label(for='listCity').col-sm-2.control-label=gettext('Город')
			div.col-sm-7.city-container
				+horizontalList(dic.cities, false, 'cityID')
		div.form-group
			label(for='listStation').col-sm-2.control-label=gettext('Метро')
			div.col-sm-7.stations-container
				+horizontalList(dic.stations, true, 'stationsID')
		div.form-group
			label(for='txtAddress').col-sm-2.control-label=gettext('Адрес')
			div.col-sm-7
				input(type='text', id='txtAddress', name='address', value=address placeholder=gettext('Адрес'), required).form-control
		div.form-group
			label.col-sm-2.control-label=gettext('Gps Координаты')
			div.col-sm-3
				input(type='text', id='txtLng', name='lng', value=lng, placeholder=gettext('долгота'), required).form-control
			div.col-sm-3
				input(type='text', id='txtLat', name='lat', value=lat, placeholder=gettext('широта'), required).form-control
		div(role='alert').alert.alert-warning=gettext('Перейдите нa')
			a(href='http://maps.yandex.ru', target='ymap')=gettext('карту')
			| #{gettext('введите адрес, нажмите правой кнопкой и выбирете "Что здесь?"')}

		hr

		div.form-group
			label(for='txtVideoUrl').col-sm-2.control-label=gettext('Ссылка на видео')
			div.col-sm-7
				input(type='text', id='txtVideoUrl', name='videoUrl', value=video_url, placeholder=gettext('Ссылка на видео')).form-control

		hr

		h4.chapter-header=gettext('CEO данные')
		div.form-group
			label(for='txtSefName').col-sm-2.control-label=gettext('ЧПУ')
			div.col-sm-7
				input(type='text', id='txtSefName', name='sefName', value=sef_name, placeholder=gettext('ЧПУ')).form-control
		div.form-group
			label(for='txtCeoTitle').col-sm-2.control-label Title
			div.col-sm-7
				input(type='text', id='txtCeoTitle', name='ceoTitle', value=ceo_title, placeholder='Title').form-control
		div.form-group
			label(for='txtCeoDescription').col-sm-2.control-label Description
			div.col-sm-7
				input(type='text', id='txtCeoDescription', name='ceoDescription', value=ceo_description, placeholder='Description').form-control
		div.form-group
			label(for='txtCeoKeywords').col-sm-2.control-label Keywords
			div.col-sm-7
				input(type='text', id='txtCeoKeywords', name='ceoKeywords', value=ceo_keywords, placeholder='Keywords').form-control

		div.form-group.button-group
			button(type='submit').btn.btn-primary.btn-save=gettext('Сохранить изменения')
			if id
				a(href='#').remove-quest=gettext('Удалить квест')

		div.alert-quest-success.alert.alert-success=gettext('Ура! Информация изменена')


	hr

	//- Quest images
	h4.chapter-header=gettext('Картинки')
	form(method='post', action='/admin/quest/file').form-horizontal
		input(type='hidden', name='id', value=id)

		div.form-group
			if id
				div.col-sm-2
				div.col-sm-2
					span.btn.btn-success.fileinput-button
						span=gettext('Добавить картинки')
						input(type='file', name='files', multiple)
				div.col-sm-8.alert-file-upload-err
			else
				div.alert-files.alert.alert-warning=gettext('Сначала создайте квест. Потом появится возможность загрузить картинки.')
		div.form-group
			div.col-sm-2
			div.col-sm-7.imgs-container
				each img in imgs
					a(href=img.url, data-gallery)
						img(src=img.url, alt='Quest image').quest-img


	//- Quest company editor modal
	div(id='modalCompany', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content

	//- Quest tags modal
	div(id='modalTag', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content

	//- Country modal
	div(id='modalCountry', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content

	//- City modal
	div(id='modalCity', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content

	//- Station modal
	div(id='modalStation', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content
