extends ../layout
include ../widgets/select-lang-widget.jade

block style
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/admin/quest.css')


block script
	script(src='/lib/jQuery-File-Upload/js/jquery.ui.widget.js')
	script(src='/lib/jQuery-File-Upload/js/jquery.fileupload.js')
	script(src='/lib/jquery.form.min.js')
	script(src='/js/admin.js')


block content
	h1.page-header Список квестов
		.lang-container.pull-right
			+langWidget(lang)

	a(href='/admin/quest').btn.btn-success Новый квест

	each company in companies
		div(data-id=company.id, data-name=company.name, data-site=company.site).company-block
			h4
				span.company-name= company.name
				span.company-edit.pseudo-link Редактировать
			ul.list-group
				each quest in quests
					if quest.company_id === company.id
						li.list-group-item
							a(href="/quest/#{quest.id}")= quest.name
							a(href="/admin/quest/#{quest.id}").pull-right Редактировать
