extends ./layout
include ../widgets/select-lang-widget.jade

block content
	h1.page-header=gettext('Список квестов')
		.lang-container.pull-right
			+langWidget(lang)

	a(href='/#{lang.currLang}/admin/quest').btn.btn-success=gettext('Новый квест')

	each company in companies
		div(data-id=company.id, data-name=company.name, data-site=company.site).company-block
			h4
				- var companyName = company.name || gettext('Нет перевода')
				- var className = company.name ? null : 'not-translated'
				span(class=className).company-name=companyName
				span.company-edit.pseudo-link=gettext('Редактировать')
			ul.list-group
				each quest in quests
					if quest.company_id === company.id
						li.list-group-item
							- var questName = quest.name || gettext('Нет перевода')
							- var className = quest.name ? null : 'not-translated'
							a(href="/quest/#{quest.id}", class=className)=questName
							a(href="/#{lang.currLang}/admin/quest/#{quest.id}").pull-right=gettext('Редактировать')
