
p Здравствуйте,

p
	| Вы получили данное письмо, потому что Вы (или кто-то еще) запросил
	| сброс пароля для Вашей учетной записи. Для сброса пароля
	| перейдите по следующей ссылке или
	| скопируйте и вставьте ее в адресную строку браузера:

p
	a(href="#{protocol}://#{hostname}/auth/reset-password?token=#{token}") #{protocol}://#{hostname}/auth/reset-password?token=#{token}

p
	| Если Вы не запрашивали сброс пароля, просто проигнорируйте это писмо,
	| и Ваш пароль останется прежним.

p С уважением, команда Лиги квестов.