
p Здравствуйте, #{userName},

p
	| спасибо за регистрацию на портале Лига Квестов.
	| Чтобы начать пользоваться всеми возможностями портала необходимо подтвердить
	| Вашу учетную запись.

p
	| Для подтверждения учетной записи перейдите по следующей ссылке или
	| скопируйте и вставьте ее в адресную строку браузера:

p
	a(href="#{protocol}://#{hostname}/auth/verify-end?token=#{token}&id=#{id}") #{protocol}://#{hostname}/auth/verify-end?token=#{token}&id=#{id}

p С уважением, команда Лиги квестов.