
p Здравствуйте, #{userName},

p
	| спасибо за регистрацию на портале Лига Квестов.
	| Чтобы начать пользоваться всеми возможностями портала Вам необходимо подтвердить
	| Вашу учетную запись.

p
	| Для подтверждения учетной записи перейдите по следующей ссылке или
	| скопируйте и вставьте ее адресную строку браузера:
	a(href="#{protocol}://#{baseUrl}/auth/verify-end?token=#{token}&id=#{id}")

p С уважением, команда Лиги квестов.