div(id='modalCompany', tabIndex='-1', role='dialog').modal.fade
	div(role='document').modal-dialog
		div.modal-content
			form(method='post', action='/admin/company').form-horizontal.form-company
				div.modal-header
					button(type='button', data-dismiss='modal' aria-label='Close').close
						span(aria-hidden='true') &times;
					h4.modal-title #{company ? company.name : 'Новая компания'}
				div.modal-body
					div.form-group
						label(for='txtCompName').col-sm-4.control-label Наименование
						div.col-sm-6
							input(type='text', id='txtCompName', name='name', placeholder='Наименование', value="#{company ? company.name : ''}", required).form-control
					div.form-group
						label(for='txtCompSite').col-sm-4.control-label Сайт
						div.col-sm-6
							input(type='text', id='txtCompSite', name='site', placeholder='Сайт', value="#{company ? company.site : ''}", required).form-control
					input(type='hidden', name='id', value="#{company ? company.id : ''}")
				div.modal-footer
					button(type='submit').btn.btn-primary.btn-company-create #{company ? 'Изменить' : 'Создать'}
					if company
						button(type='submit').btn.btn-danger.pull-left.btn-company-remove Удалить