extends layout

block style
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/app.css')
	link(rel='stylesheet', href='/stylesheets/quest.css')

block script
	script(src='/lib/jquery.form.min.js')
	script(src='/js/quest.js')

block content
	include ./widgets/comment-widget.jade
	include ./header.jade

	input(type='hidden', name='id', value=id)

	.container-fluid
		.row
			.col-md-12.no-padding
				.divider
	.container
		.row.quest-info-row
			.col-md-12
				.row
					.col-md-12
						h1.no-margin.quest-header= name
						.quest-company= company_name
						ol.breadcrumb
							//- li
							//- 	a(href='#') Главная
							//- li
							//- 	a(href='#') Каталог
							//- li.active Страница проекта
				.row
					.col-sm-5
						.carousel.slide(id="carousel-images", data-ride="carousel")
							ol.carousel-indicators
								each img, index in imgs
									- var className = index == 0 ? 'active' : '';
									li(data-target="#carousel-images", data-slide-to=index, class=className)
							.carousel-inner(role="listbox")
								each img, index in imgs
									- var className = index == 0 ? 'active' : '';
									div(class=className).item
										img(src=img.url, alt='Quest image').quest-img.img-responsive
							a(href="#carousel-images", role="button", data-slide="prev").left.carousel-control
								span(aria-hidden="true").glyphicon.glyphicon-chevron-left
								span.sr-only
							a(href="#carousel-images", role="button", data-slide="next").right.carousel-control
								span(aria-hidden="true").glyphicon.glyphicon-chevron-right
								span.sr-only

						//- img.img-responsive(src='http://placehold.it/500x400', alt='')
						//- .preview-controls
						//- 	ul.list-inline.text-center
						//- 		li.pull-left
						//- 			button.btn.btn-success
						//- 				i.fa.fa-chevron-left
						//- 		li
						//- 			a(href='#')
						//- 				img.img-responsive(src='http://placehold.it/80x80', alt='')
						//- 		li.hidden-xs.hidden-sm
						//- 			a(href='#')
						//- 				img.img-responsive(src='http://placehold.it/80x80', alt='')
						//- 		li.hidden-xs.active
						//- 			a(href='#')
						//- 				img.img-responsive(src='http://placehold.it/80x80', alt='')
						//- 		li.pull-right
						//- 			button.btn.btn-success
						//- 				i.fa.fa-chevron-right
					.col-sm-7
						.row
							//- .col-sm-3.col-md-2.col-xs-4
							//- 	ul.list-unstyled
							//- 		li.text-muted Атмосфера
							//- 		li.text-muted Сюжет
							//- 		li.text-muted Загадки
							//- 		li.text-muted Сервис
							//- .col-sm-6.col-md-5.col-xs-8
							//- 	.progress
							//- 		.progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 30%;')
							//- 			span.sr-only 30% Complete
							//- 	.progress
							//- 		.progress-bar.progress-bar-yellow(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
							//- 			span.sr-only 60% Complete
							//- 	.progress
							//- 		.progress-bar.progress-bar-success(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 80%;')
							//- 			span.sr-only 80% Complete
							//- 	.progress
							//- 		.progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 20%;')
							//- 			span.sr-only 20% Complete

							.col-md-4.col-sm-3.quest-players
								span
									i.fa.fa-male.fa-2x
								span.number
									span.number-from= players_from
									| -
									span.number-to= players_to
								span.text
									| количество
									br
									|  игроков
							//- .col-sm-6.col-md-5.col-xs-8.quest-tags
							//- 	if tags.length > 0
							//- 		i.fa.fa-tags
							//- 		ul.list-unstyled.quest-tags-list
							//- 			each tag in tags
							//- 				li.quest-tag= tag.name
							.col-sm-3.col-md-2.col-xs-4
						.row
							.col-sm-10
								ul.list-unstyled
									if tags.length > 0
										li.list-item-tags
											ul.list-unstyled.list-inline
												each tag in tags
													li= tag.name
									if url
										li.list-item-link
											span
												a(href=url, target="_quest")= url
									if stations.length > 0
										li.list-item-subway
											ul.list-unstyled.list-inline
												each station in stations
													li= station.name
									li.list-item-marker
										span= address
										a(href='https://maps.yandex.ru/?whatshere%5Bpoint%5D=#{lng}%2C#{lat}&whatshere%5Bzoom%5D=16', target="ymaps").address-link
											i.fa.fa-external-link
									//- li.list-item-phone
									//- 	span
									//- 		| +7 495 
									//- 		b 374 67 83
						.row
							.col-md-12
								hr.no-margin-top
								span.quest-price
									| от 
									span.price-from= price_from
									|  до 
									span.price-to= price_to
									|  р.
						//- .row
						//- 	.col-md-12.quest-actions
						//- 		button.btn.btn-danger Забронировать
						//- 		a.schedule-link(href='#')
						//- 			i.fa.fa-arrow-down
						//- 			| расписание ниже
						.row
							.col-md-12.quest-actions
								hr.no-margin-top
								p !{descr}
		// QUEST INFO
		.row
			.col-md-12
				div
					// Nav tabs
					ul.nav.nav-tabs(role='tablist')
						li.active(role='presentation')
							a(href='#reviews', aria-controls='reviews', role='tab', data-toggle='tab') Отзывы
						//- li(role='presentation')
						//- 	a(href='#map', aria-controls='map', role='tab', data-toggle='tab') Карта
						//- li(role='presentation')
						//- 	a(href='#video', aria-controls='video', role='tab', data-toggle='tab') Видео
					// Tab panes
					.tab-content
						.text-center.add-comment-block(style="display: #{userComment ? 'none' : 'block'}")
							if user
								if user.verified_flag
									button(type='button').btn-add-comment.btn.btn-warning Оставить отзыв
								else
									.alert.alert-warning Чтобы оставить отзыв необходимо
										a(href='#').verify-link подтвердить аккаунт
							else
								.alert.alert-warning Чтобы оставить отзыв необходимо
									a(href='/auth/login?returnUrl=').login-link войти
						.text-center.form-comment-block
							form(action='/comment', method='post').form-comment
								textarea(name='comment').form-control
								input(type='hidden', name='questID', value=id)
								div.comment-warning
									| Внимание! Ваш отзыв будет виден остальным пользователям после прочтения модераторами портала.
									| В отзыве не допускается писать ответы к загадкам квеста, использовать нецензурные выражения,
									| а также сведения, противоречащие законодательству России.
								button(type='submit').btn-edit-comment.btn.btn-success Отправить
								button(type='button').btn-cancel-comment.btn.btn-default Отмена
						#reviews.tab-pane.active(role='tabpanel')
							.panel-no-comments.panel.panel-gray(style="display: #{userComment || (otherComments && otherComments.length > 0) ? 'none' : 'block'}") Пока нет отзывов
							.user-comment(style="display: #{userComment ? 'block' : 'none'}")
								if userComment
									+editableCommentWidget(userComment)
							.other-comments
								each comment in otherComments
									+commentWidget(comment)
								//- br.visible-xs
								//- a.show-more(href='#')
								//- 	i Показать ещё отзывы
								//- br.visible-xs
								//- a.schedule-link(href='#')
								//- 	i.fa.fa-arrow-down
								//- 	| расписание ниже
						//- #map.tab-pane(role='tabpanel')
						//- 	iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287424.1771205896!2d37.632494949999995!3d55.749792000000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2sMoskwa%2C+Rosja!5e0!3m2!1spl!2spl!4v1436016243560', style='border:0', allowfullscreen='')
						//- #video.tab-pane(role='tabpanel') ...
		//- // TABS
		//- .row
		//- 	.col-md-12
		//- 		hr
		//- .row
		//- 	.col-md-12
		//- 		.promo-form.quest-promo-form
		//- 			.row
		//- 				.col-sm-4
		//- 					h4.no-margin
		//- 						| Узнавай о скидках 
		//- 						br
		//- 						|  и акциях в своем городе
		//- 				.col-sm-8
		//- 					.row
		//- 						form
		//- 							.col-sm-4
		//- 								input.form-control(type='text', placeholder='введите имя')
		//- 							.col-sm-4
		//- 								input.form-control(type='email', placeholder='введите e-mail')
		//- 							.col-sm-4
		//- 								button.btn.btn-success.btn-block Подписаться
		//- Schedule
		.row.schedule-row.schedule
			.col-md-12
				.schedule-border.top
				h3.text-center Расписание
				each day in schedule
					.schedule-item.clearfix
						.date.active
							span.number= day.label.dayNum
							br
							span
								small= day.label.monthName
							br
							span
								small= day.label.dayInWeek
						.schedule-time-wrapper
							button
								i.fa.fa-chevron-left
							each session, index in day.sessions
								span(data-id=session.id).time.session= session.time
							- for (var i = day.sessions.length; i < 13; ++i)
								span.time нет
							button
								i.fa.fa-chevron-right

							.schedule-price-range-container.hidden-xs
								each price, index in day.prices
									.schedule-price-range(class="x#{price.count}")
										span= price.price
					.schedule-border.bottom
		//- // SCHEDULE
		// TEMP
		.row
			.col-md-12
				hr
		.row
			.col-md-12.company-quests
				if quests.length > 0
					h4 Другие квесты компании "#{company_name}"
					.row
						include ./quest-list.jade
	.container-fluid
		.row
			.col-md-12.no-padding
				.divider.footer-divider

	//- Station modal
	div(id='modalOrderCreate', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content
				form(method='post', action='/order').form-horizontal.form-order-create
					div.modal-header
						button(type='button', data-dismiss='modal' aria-label='Close').close
							span(aria-hidden='true') &times;
						h4.modal-title Оформление брони
					div.modal-body
						div.form-group
							label(for='txtName').col-sm-4.control-label Имя
							div.col-sm-6
								input(type='text', id='txtName', name='name', value="#{ user ? user.name: '' }", placeholder='Имя', required).form-control
						div.form-group
							label(for='txtEmail').col-sm-4.control-label Email
							div.col-sm-6
								input(type='email', id='txtEmail', name='email', value="#{ user ? user.email: '' }", placeholder='Email', required).form-control
						div.form-group
							label(for='txtPhone').col-sm-4.control-label Телефон
							div.col-sm-6
								input(type='text', id='txtPhone', name='phone', value="#{ user ? user.phone: '' }", placeholder='Телефон', required).form-control
						div.form-group
							label(for='txtPlayersCount').col-sm-4.control-label Кол-во участников
							div.col-sm-6
								input(type='text', id='txtPlayersCount', name='playersCount', placeholder='Кол-во участников', required, size='2').form-control
						div.form-group
							label(for='txtPlayersCount').col-sm-4.control-label Комментарий
							div.col-sm-6
								textarea(name='comment').form-control
						input(type='hidden', name='sessionID')
					div.modal-footer
						button(type='submit').btn.btn-primary Забронироваь

	div(id='modalOrderConfirm', tabIndex='-1', role='dialog').modal.fade
		div(role='document').modal-dialog
			div.modal-content
				form(method='post', action='/order/confirm').form-horizontal.form-order-confirm
					div.modal-header
						button(type='button', data-dismiss='modal' aria-label='Close').close
							span(aria-hidden='true') &times;
						h4.modal-title Подтверждение брони
					div.modal-body
						div.alert.alert-info
							| На указанный Вами телефон выслан код подтверждения брони.
							| Его необходимо ввести для завершения процесса бронирования.
						div.form-group
							label(for='txtCode').col-sm-4.control-label Код
							div.col-sm-6
								input(type='text', id='txtCode', name='code', placeholder='Код', required).form-control
						input(type='hidden', name='orderID')
					div.modal-footer
						button(type='submit').btn.btn-primary Забронироваь


	include ./footer.jade


mixin questWidget(quest)
	.col-md-3.col-sm-6.col-xs-12
		a(href='/quest/#{quest.id}')
			.similar-event
				img(src=quest.img.url, alt='Другие квесты компании')
				.row
					.col-md-12
						h4.no-margin-top= quest.name
				.row
					.col-md-12
						if quest.players_from && quest.players_to
							span.event-persons
								i.fa.fa-user
								|  #{quest.players_from}-#{quest.players_to} людей
						if quest.price_from && quest.price_to
							span.event-price
								| от 
								b= quest.price_from
								|  до 
								b= quest.price_to